<launch>

	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	<include file="$(find audio_capture)/launch/capture_wave.launch"/>
	<include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

	<node name="movement" pkg="qt_robot_movement" type="qt_robot_movement_node" output="screen" cwd="node"/>
	<node name="camera_rgb" pkg="cv_camera" type="cv_camera_node" output="screen" cwd="node"/>
	<node name="ros_handler" pkg="vr_teleop_server" type="ros_side.py" output="screen" cwd="node"/>
	<node name="status" pkg="vr_teleop_server" type="status_node.py" output="screen" cwd="node"/>
	

</launch>